p Доброго дня, #{teacher.displayName}
p
  | Ваш урок було видалено адміністратором.
  br
  | Причина: "#{reason}"

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p
  | Щоб увійти у свій кабінет та переглянути зміни, натисніть тут:
  br
  a(href=url) #{url}
p
  | З повагою,
  br
  | команда Година коду у Львові
