p Доброго дня, #{teacher.firstName} #{teacher.lastName}
p
  | На жаль, ментор скасував свою участь в уроці.
  br
  | Причина: #{reason}
  br
  | Ваш урок повернеться до списку запропонованих для інших менторів

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p
  | Щоб увійти у свій кабінет та переглянути зміни, натисніть тут:
  br
  a(href=url) #{url}
p
  | З повагою,
  br
  | команда Година коду у Львові
