p Вітаємо, #{teacher.firstName} #{teacher.lastName}
p
  | На жаль, ментор скасував свій візит на урок.
  br
  | Причина: #{reason}
  br
  | Урок знову повернувся у статус “без ментора”.

p
  strong Інформація про урок
  br
  | Ментор: #{mentor.firstName} #{mentor.lastName}
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p
  a(href=url) #{url}
p
  | З повагою,
  br
  | Команда Hour of Code Lviv
