p Доброго дня, #{mentor.displayName}
p
  | На жаль, обраний урок скасовано вчителем.
  br
  | Спробуй обрати інший урок або сконтактувати з адміністратором за номером +380931290288.

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Школа: #{school.name}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p
  | Щоб увійти у свій кабінет та переглянути зміни, натисни тут:
  br
  a(href=url) #{url}
p
  | З повагою,
  br
  | Команда Години Коду у Львові
