p Вітаємо, #{mentor.firstName} #{mentor.lastName}, ти став ментором!

p
  | Кількість підтверджених уроків: #{approvedTimeslotsCount}.
  br
  | Щоб увійти у свій кабінет та переглянути зміни, натисни тут:
  br
  a(href=url) #{url}

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Школа: #{school.name}
  br
  | Вчитель: #{teacher.firstName} #{teacher.lastName} #{teacher.phone}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p Не забудь сконтактувати із вчителем, щоб дізнатися деталі! Контакти вчителя можна переглянути у своєму кабінеті біля інформації щодо обраного уроку.

p
  strong Інструкції
  br
  | Переглянь&nbsp;
  a(href="https://www.facebook.com/events/374262806324262/permalink/408077906276085/") запис відео-інструктажу&nbsp;
  | або прочитай&nbsp;
  a(href="https://docs.google.com/document/d/1AXSIO9AG9KXh-PUdTZa8v-xzWJXhy0SdQPP0Abnz0PU/edit") Як провести урок.&nbsp;
  | Обери гру і пройди її.

p(style="color:#FF0000") Якщо ти не зможеш провести Годину коду, обов'язково про це сповісти!

p ​Вдалої Години коду!​

p
  | З повагою,
  br
  | команда Година коду у Львові
