p Вітаємо, #{mentor.firstName} #{mentor.lastName}, ти став ментором!

p
  | Кількість підтверджених уроків: #{approvedTimeslotsCount}.
  br
  | Щоб увійти у свій кабінет та переглянути зміни, натисни тут:
  br
  a(href=url) #{url}

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Школа: #{school.name}
  br
  | Вчитель: #{teacher.firstName} #{teacher.lastName} #{teacher.phone}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p Не забудь сконтактувати зі вчителем, щоб дізнатися деталі! Контакти вчителя можна переглянути у своєму кабінеті біля інформації щодо обраного уроку.

p
  strong Інструкції
  br
  | Переглянь
  a(href="#") запис відео-інструктажу
  | або прочитай
  a(href="#") Як провести урок.
  | Обери гру (на власний розсуд чи запропоновану нами - Ваяну) і пройди її.

p
  strong Slack
  br
  a(hred="https://join.slack.com/t/hourofcodelviv/shared_invite/enQtMjc5MzYxMDAzMDU5LTIxOWRhNmIzMTA1NTE4OTRlNzdjNWQyNjliM2QyYTc1MmU3MGE4NzFhYzA1OGJkMDVkM2YzNTliZGJhZWIyN2Y") Долучайся у Slack.
  | З початком тижня Години коду  тут буде шумно і дуже цікаво. Ти зможеш знайти собі заміну, помінятися школами/уроками, почути відгук про проведені вже уроки, а також записатися на додаткові заняття. Прохання - усі зміни в розкладі фіксувати, адже не забувай, що це важливо також для вчителів, які хочуть знати, хто саме до них завітає. Не бійся контактувати з адміном ;)

p(style="color:#FF0000") Якщо ти не зможеш провести Годину коду, обов'язково про це сповісти!

p ​Вдалої Години коду!​

p
  | З повагою,
  br
  | Команда Hour of Code Lviv
