p Вітаємо, #{teacher.displayName}
p
  | Ваш урок додано. Тепер їх зможуть переглядати ментори.

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}


p
  | Щоб увійти у свій кабінет та переглянути зміни, натисніть тут:
  br
  a(href=url) #{url}

p Як тільки ментор обере один з ваших уроків і його участь буде підтверджена адміном, Вам на цю пошту прийде сповіщення.

p
  strong Інструкції
  br
  | Перегляньте&nbsp;
  a(href="https://www.facebook.com/events/374262806324262/permalink/408077906276085/") запис відео-інструктажу&nbsp;
  | або прочитайте&nbsp;
  a(href="https://docs.google.com/document/d/1AXSIO9AG9KXh-PUdTZa8v-xzWJXhy0SdQPP0Abnz0PU/edit") Як провести урок.&nbsp;
  | Оберіть гру і пройдіть її. Давайте разом готуватись до Години коду!

p Якщо урок, на який вже записався ментор, з певних причин скасовано, обов’язково попередьте про це ментора та адміністратора!

p
  | З повагою,
  br
  | команда Година коду у Львові
