p Вітаємо,
p
  | Вчитель видалив урок з ментором
  br
  | Причина: "#{reason}"

p
  strong Інформація про урок
  br
  | Вчитель: #{teacher.displayName}
  br
  | Ментор: #{mentor.displayName}
  br
  | Школа: #{school.name}
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p
  a(href=url) #{url}
p
  | З повагою,
  br
  | Команда Hour of Code Lviv
