p Вітаємо,
p Ментор #{mentor.displayName} потребує підтвердження проведення уроку з школи #{school.name}.

p
  strong Інформація про урок
  br
  | Час проведення: #{timeslot.startTimeFormatted}
  br
  | Клас: #{timeslot.class}
  br
  | Кількість учнів: #{timeslot.pupilsCount}
  br
  | Коментар ментору: #{timeslot.notes}

p
  a(href=url) #{url}
p З повагою,
p Команда Hour of Code Lviv
